body{
    background:black;
}
.container{
    width: 300px;
    height: 300px;
    margin: 300px auto;
    perspective: 600px;
}
.cube:hover{
    transform: translateZ(-150px) rotateX(30deg) rotateY(360deg);
} 
.cube{
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: translateZ(-150px) rotateX(30deg);
    transition: 5s;
    animation: ajit 5s infinite;
    position: relative ;

}
.face{
    position: absolute;
    width: 300px;
    height: 300px;
    /* border: 5px solid white;
    border-radius: 10px; */
}
.front{
    background-image: linear-gradient(rgb(232, 26, 184),rgb(91, 91, 241)); 
    transform: rotateY(0deg) translateZ(150px);

}
.right{
    background-image: linear-gradient(green,rgb(89, 128, 212));
    transform: rotateY(90deg) translateZ(150px);

}
.back{
    background-image: linear-gradient(red,rgb(224, 224, 17));
    transform: rotateY(180deg) translateZ(150px);

}
.left{

    background-image: linear-gradient(yellow,rgb(41, 196, 61));
    transform: rotateY(-90deg) translateZ(150px);

}
.top{
    
    background-image: linear-gradient(blueviolet,rgb(39, 152, 94));
    transform: rotateX(90deg) translateZ(150px);

}
.bottom{
    background-image: linear-gradient(blue,rgb(130, 47, 90));
    transform: rotateX(-90deg) translateZ(150px);

}
@keyframes ajit{
    /* 0%{
        transform: rotateX(0deg) rotateY(45deg);
    }
    20%{
        transform: rotateX(-45deg) rotateY(90deg);
    }
    40%{
        transform: rotateX(-90deg) rotateY(180deg);
    }
    60%{
        transform: rotateX(-180deg) rotateY(270deg);
    }
    80%{
        transform: rotateX(-270deg) rotateY(360deg);
    }
    100%{
        transform: rotateX(0deg) rotateY(360deg);
    } */
    0%{
        transform: rotateX(0deg) rotateY(45deg);
    }
    20%{
        transform: rotateX(-30deg) rotateY(120deg);
    }
    40%{
        transform: rotateX(-100deg) rotateY(220deg);
    }
    60%{
        transform: rotateX(-150deg) rotateY(250deg);
    }
    80%{
        transform: rotateX(-230deg) rotateY(360deg);
    }
    100%{
        transform: rotateX(30deg) rotateY(300deg);
    }

  
}