/* *{
    margin: 0;
    padding: 0;
} */
.main{
    display: flex;
    flex-wrap: wrap;
}
.aside{
    flex-grow: 1;
    flex-basis: 200px;
    background-color: silver;
}
.aside li{
    list-style: none;
}
.content{
    flex-grow: 8;
    flex-basis: 800px;
    border: solid silver;
    margin-left:5px;

}
.header{
    display: flex;
    flex-direction: column;
}
.nav1{
    display: flex;
    justify-content: end;
    
}  
.nav1 li{
    list-style: none;
    padding: 10px;
}  
.nav2{
    display: flex;
    justify-content: space-between;
}
.one{
    display:flex;
}
.one li{
    list-style: none;
    border:solid silver;
    padding: 5px;
}
.two{
    display: flex;
}
.two li{
    list-style: none;
    padding: 10px;
}

.heading{
    display: flex;
    justify-content: space-between;
    border: solid;
    margin-top: 10px;
    border-color: silver;
}
.info{
    display: flex;
    margin-top: 10px;
}
.second{
    background-color: silver;
}
.second img{
    padding-left: 10px;
    padding-top: 20px;
}
